/* .hero-section {
    background-image: url("../assets/BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 2rem;
} */

.hero-section h1 {
    font-weight: 700;
    font-size: 55px;
    color: #161C2D;
    font-family: "Gilroy", sans-serif;
    letter-spacing: -2px;
    margin-top: 0;
    max-width: 541px;
    margin-bottom: 1rem;
}

.hero-section p {
   font-family: "Gilroy", sans-serif;
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 1.6;
   opacity: 70%;
   margin-top: 1rem;
   
}


.hero-section .custom-btn {
    background-color: #473BF0;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .hero-section{
        font-size: 10px;
        flex-direction: column;
        text-align: center;
        padding: 3rem 1.5rem;
    }
    .hero-section h1 {
        font-size: 30px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto
    }
    .hero-section p {
       font-size: 15px;
       max-width: 100%;
       margin-left: auto;
       margin-right: auto;
    }
    .custom-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        display: block;
        margin: 2rem auto 0;
    }
    .hero-img {
        width: 85%;
        margin-top: 2rem;
    }
}