.nav-logo{
    font-size: 24px;
    letter-spacing: -0.13px;
    color: #161C2D;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
   }

   .nav-list{
    font-family: "Gilroy" sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    font-size: 15px;
    color: #161C2D;
}

.nav-btn{
    background-color: #473BF0;
    color: white;
    font-size: 17px;
    padding-bottom: 12px 28px;
    border-radius: 8px;
    flex-shrink: 0;
    white-space: nowrap;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-collapse {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-collapse .nav-btn {
    margin-top: 1rem;
    align-self: flex-start;
}

.nav-bar > .container {
    justify-content: space-between;
}

@media (max-width: 576px) {
    .nav-section {
        padding-left: 2.5rem;
        padding-right: 2.0rem;
    }
    .navbar-collapse {
        text-align: center;
        display: block;
    }
    
    .nav-btn {
        width: 60%;
        margin-top: 0.5rem;
    }

    .navbar-nav {
        margin-top: 1rem;
        text-align: left;
    } 
}