.nav-logo{
    font-size: 24px;
    letter-spacing: -0.13px;
    color: #161C2D;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
   }

   .nav-list{
    font-family: "Gilroy" sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    font-size: 15px;
    color: #161C2D;
}

.nav-btn{
    background-color: #473BF0;
    color: white;
    font-size: 17px;
    padding-bottom: 12px 28px;
    border-radius: 8px;
    flex-shrink: 0;
}

.nav-flex {
    display: flex;
    align-items: center;
}

.navbar-collapse {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-bar > .container {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .nav-section {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}