.review {
    background-image: url('/src/assets/RevieiwBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 2rem;
    border: 1px solid #473BF0;
}

.review-tag {
    color: #68D585;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 335px;
}

.review-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: white;
    max-width: 655px;
}

.review-img {
    width: 90px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.review-name {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.review-role {
    font-size: 0.85rem;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 6px;
}

@media (max-width: 768px) {
    .review-text {
        font-size: 20px;
    }
}