.services-section {

    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding-top: 2rem;
}

.service-wrapper {
  width: 30% !important;
  min-width: 250px;
  height: 483px;
  border-radius: 16px;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.img-under {
    position: absolute;
    bottom: -80px;
    right: -50%;
    z-index: -1;
}

.wrap {
    display: flex;
    gap: 3rem;
}

@media (max-width: 768px) {
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .service-wrapper {
        width: 95%;
        max-width: unset;
    }
}

@media (max-width: 768px) {
    .img-under {
        display: none;
    }
    .services-section {
        padding-top: 1.5rem;
    }
}

@media (max-width: 768px) {
    .services-section .section-heading {
        font-size: 24px !important;
        line-height: 1.2;
        margin: 0;
        padding: 0;
    }
}


.services-section .section-intro {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.services-section .section-heading {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 2rem;
}


.service-box1 {
    background-color: #68D585;
}

.service-box2 {
    background-color: #473BF0;
}

.service-box3 {
    background-color: #F64B4B;
    position: relative;
}

.service-wrapper image {
   margin-bottom: 2.5rem;
}

.service-wrapper h5 {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 1rem; 
}

.service-wrapper p {
    font-family: "Gilroy" sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    opacity: 65%;
    margin-bottom: 2rem;
    align-items: center;
}

.learn-more {
   font-weight: 700;
   font-size: 17px;
   line-height: 32px;
   text-decoration: none;
}

@media (max-width: 576px){
    .img-cards {
        min-width: 90%;
    }
    .service-wrapper {
        width: 90%
    }
}
