.why-choose {
    background-image: url('/src/assets/BackGround.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 2rem;
}

.head {
    font-family: "Gilroy" sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.reason, .wcu-h2 {
    font-size: 20px;
    font-weight: 700;
    /* line-height: 48px; */
    color: #161C2D;
    max-width: 521px;
}

.ready-h3 {
   font-size: 32px;
   font-weight: 700;
   
}

.wcu-p {
    font-weight: 400px;
    font-size: 15px;
    color: #161C2D;
    line-height: 29px;
}

.ready-p {
    font-weight: 400;
    font-size: 19px;
    opacity: 70%;
}

.ready-btn {

    background-color: #473BF0;
    color: white;
    padding: 15px 28px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
}

@media (max-width: 768px) { 
    .reason, .wcu-h2{
      font-size: 28px;
    }
    .ready-btn {
      padding: 0.5rem 0.75rem;
      font-size: 0.8rem;
    }
     
    }
  @media (max-width: 556px) { 
     .wcu-h2{
      font-size: 20px;
    }
  
  }